* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(
        135deg,
        #6512B8 0%,
        #6512B8 25%,
        #FFAA01 25%,
        #FFAA01 25%,
        #CA8738 75%,
        #01DAC5 75%,
        #14B4C2 100%
    );
    position: relative;
}